/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col {
  width: 100%;
  float: left;
}

/* Small Devices */
@media (min-width: 576px) {
  .sm-1 {
    width: 10%;
  }

  .sm-2 {
    width: 20%;
  }

  .sm-3 {
    width: 30%;
  }

  .sm-4 {
    width: 40%;
  }

  .sm-5 {
    width: 50%;
  }

  .sm-6 {
    width: 60%;
  }

  .sm-7 {
    width: 70%;
  }

  .sm-8 {
    width: 80%;
  }

  .sm-9 {
    width: 90%;
  }

  .sm-10 {
    width: 100%;
  }
}
/* Medium Devices */
@media (min-width: 768px) {
  .md-1 {
    width: 10%;
  }

  .md-2 {
    width: 20%;
  }

  .md-3 {
    width: 30%;
  }

  .md-4 {
    width: 40%;
  }

  .md-5 {
    width: 50%;
  }

  .md-6 {
    width: 60%;
  }

  .md-7 {
    width: 70%;
  }

  .md-8 {
    width: 80%;
  }

  .md-9 {
    width: 90%;
  }

  .md-10 {
    width: 100%;
  }
}
/* Large Devices */
@media (min-width: 992px) {
  .lg-1 {
    width: 10%;
  }

  .lg-2 {
    width: 20%;
  }

  .lg-3 {
    width: 30%;
  }

  .lg-4 {
    width: 40%;
  }

  .lg-5 {
    width: 50%;
  }

  .lg-6 {
    width: 60%;
  }

  .lg-7 {
    width: 70%;
  }

  .lg-8 {
    width: 80%;
  }

  .lg-9 {
    width: 90%;
  }

  .lg-10 {
    width: 100%;
  }
}
/*general  styles*/
main {
  display: block;
  font-size: 0;
}

p, a, span, h4 {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h4 {
  font-weight: 700;
}

.light {
  color: white;
}

.light-gray {
  color: #fafafa;
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

@media (min-width: 375px) {
  main, footer {
    text-align: center;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.header {
  display: block;
  height: 78px;
}
.header .logo, .header nav {
  display: inline-block;
  padding-top: 31px;
  padding-bottom: 26px;
}
.header .logo {
  float: left;
  padding-left: 24px;
}
.header nav {
  float: right;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 22px;
  /* !- end mobile-nav */
}
.header nav #mobile-nav .nav-control {
  float: right;
}
.header nav #mobile-nav .nav-control #menu-toggle {
  width: 32px;
  height: 32px;
  background-image: url(images/icon-hamburger.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.header nav #mobile-nav #mobile-menu {
  background-color: #2d2640;
  background-image: url(images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  transition: all 0.5s ease-in-out;
  display: block;
  /*if opacity == easier to work woth transition*/
  opacity: 0;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 80px);
  right: 0;
  top: 80px;
  text-align: center;
  z-index: 1;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}
.header nav #mobile-nav #mobile-menu ul {
  padding: 27px 25px 25px 25px;
}
.header nav #mobile-nav #mobile-menu ul li {
  padding: 17px;
  margin: 7px 0px;
}
.header nav #mobile-nav #mobile-menu ul li:last-child {
  -webkit-box-shadow: inset 0px 0px 0px 1px #fff;
  -moz-box-shadow: inset 0px 0px 0px 1px #fff;
  box-shadow: inset 0px 0px 0px 1px #fff;
}
.header nav #mobile-nav #mobile-menu ul li:hover {
  background-color: white;
}
.header nav #mobile-nav #mobile-menu ul li:hover a {
  color: #2d2640;
}
.header nav #mobile-nav #mobile-menu a {
  font-size: 1.35em;
  letter-spacing: 1.3px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

h1, h2, h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 47px;
  padding-bottom: 19px;
}

main section {
  padding-left: 20px;
  padding-right: 20px;
}
main section p {
  line-height: 1.65em;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.btn span {
  border: 1px solid white;
  padding: 11px 27px 11px 27px;
  font-size: 0.83em;
  letter-spacing: 1.7px;
}

/* mobile and desktop line breaks */
@media all and (min-width: 376px) {
  .desktop-br {
    display: inline;
  }

  .mobile-br {
    display: none;
  }
}
@media all and (max-width: 375px) {
  .desktop-br {
    display: none;
  }

  .mobile-br {
    display: inline;
  }
}
.mobile-image-container img {
  width: 100%;
}

/*section specific styles*/
#humanizing {
  background-color: #2d2640;
  background-image: url(images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 93px;
  padding-bottom: 105px;
  margin-bottom: 142px;
  background-blend-mode: difference;
  position: relative;
}
#humanizing #background-right {
  color: white;
  height: 330px;
  width: 100%;
  left: 0;
  top: 345px;
  position: absolute;
  background-image: url(images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
#humanizing p {
  padding-bottom: 42px;
}

#different div div {
  margin: auto;
  width: 323px;
}
#different h1 {
  padding-top: 39px;
  padding-bottom: 80px;
}
#different h1::before {
  background-color: #95a9c6;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: -39px;
}
#different h3 {
  font-size: 27px;
  padding-bottom: 20px;
}
#different img {
  padding-bottom: 40px;
}
#different p {
  font-size: 16px;
  padding-bottom: 58px;
  line-height: 1.62em;
  color: #837d87;
}

#how-we-work {
  margin-left: 23px;
  margin-right: 23px;
  padding-top: 75px;
  margin-top: 85px;
  height: 270px;
  background-color: #2d2640;
  background-image: url(images/bg-pattern-how-we-work-mobile.svg);
  background-blend-mode: difference;
  background-repeat: no-repeat;
  background-position: top right;
  margin-bottom: 140px;
}
#how-we-work h1 {
  font-size: 39px;
  padding-bottom: 50px;
}
#how-we-work .btn {
  padding: 12px 25px 12px 25px;
}

footer {
  background-image: url(images/bg-pattern-footer-mobile.svg);
  background-color: #fafafa;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}
footer img {
  padding-top: 85px;
}
footer .social-links {
  height: 200px;
}
footer .social-links .social-links-list {
  height: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .social-links .social-links-list .icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
footer .social-links .social-links-list .icon:first-child {
  margin-left: 0px;
}
footer .social-links .social-links-list .fb-icon {
  background-image: url(images/icon-facebook.svg);
}
footer .social-links .social-links-list .twitter-icon {
  background-image: url(images/icon-twitter.svg);
  background-position-y: 2px;
}
footer .social-links .social-links-list .pinterest-icon {
  background-image: url(images/icon-pinterest.svg);
}
footer .social-links .social-links-list .instagram-icon {
  background-image: url(images/icon-instagram.svg);
}
footer .social-links .social-links-list::after {
  background-color: #95a9c6;
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 320px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 37px;
}
footer .site-links {
  padding-top: 14px;
}
footer .site-links h4 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-size: 0.85em;
  color: #837d87;
  letter-spacing: 1.1px;
}
footer .site-links ul li {
  line-height: 30px;
}
footer .site-links ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.85em;
  letter-spacing: 1.1px;
  font-weight: 700;
  color: black;
}

.desktop-image-container {
  display: none;
}

.mobile-image-container {
  display: block;
}

.attribution {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1439px) {
  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }
}
@media only screen and (min-width: 1440px) {
  main section {
    padding-left: 0;
    padding-right: 0;
  }

  a.btn span {
    font-weight: 700;
  }

  a.btn:hover span {
    background-color: white;
    color: #2d2640;
  }

  .content-container {
    width: 1110px;
    margin: auto;
  }

  .header .logo, .header nav {
    padding-left: 0;
    padding-right: 0;
  }
  .header nav {
    padding-top: 0;
    padding-bottom: 0;
  }

  #desktop-nav {
    padding-top: 22px;
    display: block;
    height: 100%;
  }
  #desktop-nav ul {
    padding-top: 10px;
  }
  #desktop-nav ul li:last-child {
    padding-left: 15px;
    padding-right: 0;
  }
  #desktop-nav ul li {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    padding: 0px 12px 12px 12px;
  }
  #desktop-nav ul li a {
    font-weight: 700;
    text-decoration: none;
    color: #837d87;
    font-size: 13px;
    letter-spacing: 1.5px;
  }
  #desktop-nav ul li:last-child a {
    -webkit-box-shadow: inset 0px 0px 0px 1px #2d2640;
    -moz-box-shadow: inset 0px 0px 0px 1px #2d2640;
    box-shadow: inset 0px 0px 0px 1px #2d2640;
    padding: 12px 27px 12px 27px;
  }
  #desktop-nav ul li:hover a {
    color: #2d2640;
  }
  #desktop-nav ul li:last-child:hover a {
    background-color: #2d2640;
    color: white;
  }

  /* end desktop-nav */
  #mobile-nav {
    display: none;
  }

  .mobile-image-container {
    display: none;
  }

  .desktop-image-container {
    display: block;
  }

  h1 {
    font-size: 4.36rem;
  }

  #humanizing {
    background-image: none;
    padding-top: 105px;
    padding-bottom: 145px;
  }
  #humanizing div {
    height: 350px;
  }
  #humanizing div .left {
    float: left;
    text-align: left;
    z-index: 0;
  }
  #humanizing div .left h1 {
    text-align: left;
    padding-top: 65px;
    line-height: 4rem;
  }
  #humanizing div .left h1:before {
    background-color: white;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 150px;
    margin-top: -60px;
  }
  #humanizing div .right {
    float: right;
  }
  #humanizing p {
    padding-top: 10px;
    padding-right: 10px;
    line-height: 1.8rem;
    padding-bottom: 38px;
  }
  #humanizing a.btn {
    z-index: 1;
    position: absolute;
  }
  #humanizing a.btn:hover span {
    background-color: white;
    color: #2d2640;
  }
  #humanizing .desktop-image-container {
    text-align: right;
  }
  #humanizing #background-left {
    position: absolute;
    height: 510px;
    width: 100%;
    background-image: url(images/bg-pattern-intro-left-desktop.svg);
    background-repeat: no-repeat;
    background-blend-mode: difference;
    background-size: contain;
    top: 430px;
    z-index: 0;
  }
  #humanizing #background-right {
    background-image: url(images/bg-pattern-intro-right-desktop.svg);
    top: 0;
    height: 530px;
    background-position-y: -80px;
    z-index: 0;
  }

  /* end # humanizing */
  #different .item-container, #different .item-container h3 {
    text-align: left;
  }
  #different div div {
    width: 32%;
  }
  #different h1 {
    padding-top: 205px;
    text-align: left;
    padding-bottom: 90px;
  }
  #different h1::before {
    position: relative;
    left: 0;
    transform: none;
    margin-bottom: 60px;
  }
  #different .item {
    display: inline-block;
    padding-left: 22px;
  }
  #different .item p {
    line-height: 1.68em;
  }
  #different .item:first-child {
    padding-left: 0px;
  }

  /* end #different */
  #how-we-work {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    height: 190px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(images/bg-pattern-how-we-work-desktop.svg);
  }
  #how-we-work div {
    padding-top: 20px;
  }
  #how-we-work div div {
    display: inline-block;
    vertical-align: top;
  }
  #how-we-work div div h1 {
    text-align: left;
    font-size: 50px;
    padding-left: 80px;
    font-size: 3.46rem;
  }
  #how-we-work div div#button-container {
    padding-top: 65px;
  }

  /* end #how-we-work */
  footer {
    background-image: url(images/bg-pattern-footer-desktop.svg);
    background-size: 38%;
  }
  footer .social-links {
    position: relative;
    padding-top: 40px;
    height: 90px;
  }
  footer .social-links .social-links-list:after {
    width: 200%;
    left: 0;
    margin-top: 37px;
  }
  footer .social-links img, footer .social-links div {
    display: inline-block;
    vertical-align: top;
    position: absolute;
  }
  footer .social-links div:first-child {
    left: 0;
    background-color: red;
    text-align: left;
  }
  footer .social-links img {
    padding-top: 30px;
  }
  footer .social-links div {
    text-align: right;
    right: 0;
  }
  footer .site-links {
    text-align: left;
  }
  footer .site-links .lg-2, footer .site-links .lg-1 {
    display: inline-block;
    vertical-align: top;
    padding-right: 50px;
  }

  /* end footer */
}
/* End media query (min-width: 1440px) */

/*# sourceMappingURL=style.css.map */
