/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col {
  width: 100%;
  float: left;
}

/* Small Devices */
@media (min-width: 576px) {
  .sm-1 {
    width: 10%;
  }

  .sm-2 {
    width: 20%;
  }

  .sm-3 {
    width: 30%;
  }

  .sm-4 {
    width: 40%;
  }

  .sm-5 {
    width: 50%;
  }

  .sm-6 {
    width: 60%;
  }

  .sm-7 {
    width: 70%;
  }

  .sm-8 {
    width: 80%;
  }

  .sm-9 {
    width: 90%;
  }

  .sm-10 {
    width: 100%;
  }
}
/* Medium Devices */
@media (min-width: 768px) {
  .md-1 {
    width: 10%;
  }

  .md-2 {
    width: 20%;
  }

  .md-3 {
    width: 30%;
  }

  .md-4 {
    width: 40%;
  }

  .md-5 {
    width: 50%;
  }

  .md-6 {
    width: 60%;
  }

  .md-7 {
    width: 70%;
  }

  .md-8 {
    width: 80%;
  }

  .md-9 {
    width: 90%;
  }

  .md-10 {
    width: 100%;
  }
}
/* Large Devices */
@media (min-width: 992px) {
  .lg-1 {
    width: 10%;
  }

  .lg-2 {
    width: 20%;
  }

  .lg-3 {
    width: 30%;
  }

  .lg-4 {
    width: 40%;
  }

  .lg-5 {
    width: 50%;
  }

  .lg-6 {
    width: 60%;
  }

  .lg-7 {
    width: 70%;
  }

  .lg-8 {
    width: 80%;
  }

  .lg-9 {
    width: 90%;
  }

  .lg-10 {
    width: 100%;
  }
}
/*general  styles*/
main {
  display: block;
  font-size: 0;
}

p, a, span, h4 {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h4 {
  font-weight: 700;
}

.light {
  color: white;
}

.light-gray {
  color: #fafafa;
}

@media (min-width: 375px) {
  main, footer {
    text-align: center;
  }
}

.header {
  display: block;
  height: 78px;
}
.header .logo, .header nav {
  display: inline-block;
  padding-top: 31px;
  padding-bottom: 26px;
}
.header .logo {
  float: left;
  padding-left: 24px;
}
.header nav {
  float: right;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 22px;
}
.header nav .nav-control {
  float: right;
}

h1, h2, h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 47px;
  padding-bottom: 19px;
}

main section {
  padding-left: 20px;
  padding-right: 20px;
}
main section p {
  line-height: 1.65em;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.btn span {
  border: 1px solid white;
  padding: 11px 27px 11px 27px;
  font-size: 0.83em;
  letter-spacing: 1.7px;
}

/* mobile and desktop line breaks */
@media all and (min-width: 376px) {
  .desktop-br {
    display: inline;
  }

  .mobile-br {
    display: none;
  }
}
@media all and (max-width: 375px) {
  .desktop-br {
    display: none;
  }

  .mobile-br {
    display: inline;
  }
}
.mobile-image-container img {
  width: 100%;
}

/*section specific styles*/
#humanizing {
  background-color: #2d2640;
  background-image: url(images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 93px;
  padding-bottom: 105px;
  margin-bottom: 142px;
  background-blend-mode: difference;
  position: relative;
}
#humanizing #background-right {
  color: white;
  height: 330px;
  width: 100%;
  left: 0;
  top: 345px;
  position: absolute;
  background-image: url(images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
#humanizing p {
  padding-bottom: 42px;
}

#different div {
  margin: auto;
  width: 323px;
}
#different h1 {
  padding-top: 39px;
  padding-bottom: 80px;
}
#different h1::before {
  background-color: #95a9c6;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: -39px;
}
#different h3 {
  font-size: 27px;
  padding-bottom: 20px;
}
#different img {
  padding-bottom: 40px;
}
#different p {
  font-size: 16px;
  padding-bottom: 58px;
  line-height: 1.62em;
  color: #837d87;
}

#how-we-work {
  margin-left: 23px;
  margin-right: 23px;
  padding-top: 75px;
  margin-top: 85px;
  height: 270px;
  background-color: #2d2640;
  background-image: url(images/bg-pattern-how-we-work-mobile.svg);
  background-blend-mode: difference;
  background-repeat: no-repeat;
  background-position: top right;
  margin-bottom: 140px;
}
#how-we-work h1 {
  font-size: 39px;
  padding-bottom: 50px;
}
#how-we-work .btn span {
  padding: 12px 25px 12px 25px;
}

footer {
  background-image: url(images/bg-pattern-footer-mobile.svg);
  background-color: #fafafa;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}
footer img {
  padding-top: 85px;
}
footer .social-links {
  height: 200px;
}
footer .social-links .social-links-list {
  height: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .social-links .social-links-list .icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}
footer .social-links .social-links-list .icon:first-child {
  margin-left: 0px;
}
footer .social-links .social-links-list .fb-icon {
  background-image: url(images/icon-facebook.svg);
}
footer .social-links .social-links-list .twitter-icon {
  background-image: url(images/icon-twitter.svg);
  background-position-y: 2px;
}
footer .social-links .social-links-list .pinterest-icon {
  background-image: url(images/icon-pinterest.svg);
}
footer .social-links .social-links-list .instagram-icon {
  background-image: url(images/icon-instagram.svg);
}
footer .social-links .social-links-list::after {
  background-color: #95a9c6;
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 320px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 37px;
}
footer .site-links {
  padding-top: 14px;
}
footer .site-links h4 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-size: 0.85em;
  color: #837d87;
  letter-spacing: 1.1px;
}
footer .site-links ul li {
  line-height: 30px;
}
footer .site-links ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.85em;
  letter-spacing: 1.1px;
  font-weight: 700;
  color: black;
}

.attribution {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
