@use 'reset';
@use 'grid';


$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);

$Very-Dark-violet: hsl(270, 9%, 17%);
$Dark-Grayis-Violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

/*general  styles*/

main {
    display:block;
    font-size: 0;
}

p, a, span, h4 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h4 {
  font-weight: 700;
}

.light {
  color: white;
}

.light-gray {
  color: $very-light-gray;
}

.blur {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

main, footer {
    @media (min-width: 375px) {
        text-align: center;
    }
 }

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.header {
    display: block;
    height: 78px;
    .logo, nav {
        display: inline-block;
        padding-top: 31px;
        padding-bottom: 26px;
    }
    .logo {
        float: left;
        padding-left: 24px;
    }

    nav {
        float: right;
        padding-right: 24px;
        padding-top: 24px;
        padding-bottom: 22px;
        #mobile-nav {
          .nav-control {
            float: right;
            #menu-toggle {
              width: 32px;
              height: 32px;
              background-image: url(images/icon-hamburger.svg);
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
          #mobile-menu {
            background-color: $Dark-Violet;
            background-image: url(images/bg-pattern-mobile-nav.svg);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            transition: all .5s ease-in-out;
            display: block;
            /*if opacity == easier to work woth transition*/
            opacity: 0;
            position: absolute;
            width: 100vw;
            height: calc(100vh - 80px);
            right: 0;
            top: 80px;
            text-align: center;
            z-index: 1;
            text-transform: uppercase;
            font-family: 'Karla', sans-serif;
            font-weight: 400;
            ul {
              padding: 27px 25px 25px 25px;
              li {
                padding: 17px;
                margin: 7px 0px;
              }
              li:last-child {
                //shadow insted of border. So that it can be displayed inside the li
                -webkit-box-shadow:inset 0px 0px 0px 1px #fff;
                -moz-box-shadow:inset 0px 0px 0px 1px #fff;
                box-shadow:inset 0px 0px 0px 1px #fff;
              }
              li:hover {
                background-color: white;
                a {
                  color: $Dark-Violet;
                }
              }
            }
            a {
              font-size: 1.35em;
              letter-spacing: 1.3px;
              text-decoration: none;
              color: white;
              cursor: pointer;
            }          
          }
        } /* !- end mobile-nav */
    }
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    text-align: center;
}

h1 {
    font-size: 47px;
    padding-bottom: 19px;
}

main {

    section {
        padding-left: 20px;
        padding-right: 20px;
        p {
            line-height: 1.65em;
        }
    }
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: white;
    span {
        border: 1px solid white;
        padding: 11px 27px 11px 27px;
        font-size: 0.83em;
        letter-spacing: 1.7px;
    }

}

/* mobile and desktop line breaks */
@media all and (min-width:376px) {
    .desktop-br {
        display: inline;
    }
    .mobile-br {
        display: none;
    }
}

@media all and (max-width:375px) {
    .desktop-br {
        display: none;
    }
    .mobile-br {
        display: inline;
    }
 }

.mobile-image-container {
  img {
    width: 100%;
  }
}
    
/*section specific styles*/
 #humanizing {
    background-color:hsl(256, 26%, 20%);
    background-image: 
        url(images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    background-position:
        top left;
    padding-top: 93px;
    padding-bottom: 105px; 
    margin-bottom: 142px;
    background-blend-mode: difference;
    position: relative;

    #background-right {
        color: white;
        height: 330px;
        width: 100%;
        left: 0;
        top: 345px;
        position: absolute;
        background-image: url(images/bg-pattern-intro-right-mobile.svg);
        background-repeat: no-repeat;
        background-position: top right;
    }
    p {
      padding-bottom: 42px;
    }
 }

 #different {
    div div {
      margin: auto;
      width: 323px;
    }
    h1 {
        padding-top: 39px;
        padding-bottom: 80px;
    }
    h1::before {
      background-color: $Grayish-Blue; 
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      width: 150px;
      left: 50%;
      transform: translate(-50%,0);
      margin-top: -39px;
    }

    h3 {
        font-size: 27px;
        padding-bottom: 20px;
    }

    img {
        padding-bottom: 40px;
    }

    p {
      font-size: 16px;
      padding-bottom: 58px;
      line-height: 1.62em;
      color: $Dark-Grayis-Violet;
    }
 }

#how-we-work {
  margin-left: 23px;
  margin-right: 23px;
  padding-top: 75px;
  margin-top: 85px;
  height: 270px;
  background-color: $Dark-Violet;
  background-image: url(images/bg-pattern-how-we-work-mobile.svg);
  background-blend-mode: difference;
  background-repeat: no-repeat;
  background-position: top right;
  margin-bottom: 140px;

  h1 {
    font-size: 39px;
    padding-bottom: 50px;
  }

  .btn {
    padding: 12px 25px 12px 25px;
  }

}

footer {
  background-image: url(images/bg-pattern-footer-mobile.svg);
  background-color: $very-light-gray;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  img {
    padding-top: 85px;
  }

  .social-links {
    height: 200px;
    .social-links-list {
      height: 50px;
      padding-top: 30px;
      padding-bottom: 30px;
        .icon {
          width: 24px;
          height: 24px;
          margin-left: 12px;
          background-size: contain;
          background-repeat: no-repeat;
          display: inline-block;

        }
        .icon:first-child {
          margin-left: 0px;
        }
        .fb-icon {
          background-image: url(images/icon-facebook.svg);
        }
      
        .twitter-icon {
          background-image: url(images/icon-twitter.svg);
          background-position-y: 2px;
        }
      
        .pinterest-icon {
          background-image: url(images/icon-pinterest.svg);
        }
      
        .instagram-icon {
          background-image: url(images/icon-instagram.svg);
        }
        .icon:hover {
          filter: brightness(0) saturate(100%) invert(18%) sepia(3%) saturate(5679%) hue-rotate(215deg) brightness(94%) contrast(85%);
        }
    }
    .social-links-list::after {
      background-color: $Grayish-Blue; 
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 320px;
      left: 50%;
      transform: translate(-50%,0);
      margin-top: 37px;
    }
  }

  .site-links {
    padding-top: 14px;
    h4 {
      padding-top: 30px;
      padding-bottom: 30px;
      text-transform: uppercase;
      font-size: 0.85em;
      color: $Dark-Grayis-Violet;
      letter-spacing: 1.1px;
    }
  
    ul li  {
      line-height: 30px;
      a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.85em;
        letter-spacing: 1.1px;
        font-weight: 700;
        color: black;
      }
      a:hover {
        color: $Dark-Grayis-Violet;
      }
    }
  }
}

.desktop-image-container {
  display: none;
}
.mobile-image-container {
  display: block;
}

.attribution {
  padding-top: 20px;
  padding-bottom: 20px;
}


@media only screen and (max-width: 767px) {
  //start showing nav button
  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }
  
}


//tablet media query
@media only screen and (min-width: 768px) {

  main section {
    padding:0;
  }
  #mobile-nav {
    display: none;
  }
  #desktop-nav {
    padding-top: 22px;
    display: block;
    height: 100%;

    ul {
      padding-top: 10px;
      li:last-child {
        padding-left: 15px;;
        padding-right: 0;
      }

      li {
      display: inline-block;
      text-transform: uppercase;
      font-family: 'Karla', sans-serif;
      padding: 0px 12px 12px 12px;

        a {
          font-weight: 700;
          text-decoration: none;
          color: $Dark-Grayis-Violet;
          font-size: 13px;
          letter-spacing: 1.5px;
        }
      }

      li:last-child a {
        -webkit-box-shadow:inset 0px 0px 0px 1px $Dark-Violet;
        -moz-box-shadow:inset 0px 0px 0px 1px $Dark-Violet;
        box-shadow:inset 0px 0px 0px 1px $Dark-Violet;
        padding: 12px 27px 12px 27px;
      }
      li:hover a {
       color: $Dark-Violet;
  
      }
      li:last-child:hover a{
        background-color: $Dark-Violet;
        color: white;
      }
    }
  
    a.btn span {
      font-weight: 700;
    }
  
    a.btn:hover span {
      background-color: white;
      color: $Dark-Violet;
    }
    
  } /* end desktop-nav */
  
  .header {
    .logo, nav {
      padding-left: 20px;
      padding-right: 20px;
    }
    nav {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .mobile-image-container {
    display: none;
  }

  .desktop-image-container {
    display: block;
  }

  #humanizing {
    padding: 105px 20px 145px 20px;

    img {
      width: 100%;
    }

    div {
      height: 200px;
      .left {
        float: left;
        text-align: left;
        z-index: 0;
        h1 {
          text-align: left;
          padding-top: 65px;
          line-height: 4rem;
        }
        h1:before {
          background-color: white; 
          content: '';
          display: block;
          height: 2px;
          position: absolute;
          width: 150px;
          margin-top: -60px;
        }
      }
      .right {
        float: right;
      }
    } 
    p {
      padding-top: 10px;
      padding-right: 10px;
      line-height: 1.8rem;
      padding-bottom: 38px;
    }
    a.btn {
      z-index: 1;
      position: absolute;
    }
    a.btn:hover span {
      background-color: white;
      color: $Dark-Violet;
    }

    .desktop-image-container {
      text-align: right;
    }

  } /* end # humanizing */

  #how-we-work {
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    height: 190px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(images/bg-pattern-how-we-work-desktop.svg);
    div {
      padding-top: 5px;

    }
    div div {
      display: inline-block;
      vertical-align: top;
    }
    div div h1 {
      text-align: left;
      font-size: 50px;
      padding-left: 80px;
      font-size: 3.46rem;
    }

    div div#button-container {
      padding-top: 65px;
    }
  }

}  /* end media query min-width: 768px */

@media only screen and (min-width: 992px) {
  footer {
    background-image: url(images/bg-pattern-footer-desktop.svg);
    background-size: 38%;
    padding-right: 20px;
    padding-left: 20px;

    .social-links {
      position: relative;
      padding-top: 40px;
      height: 90px;
      .social-links-list:after {
        width: 200%;
        left: 0;
        margin-top: 37px;
      }

      img, div {
        display: inline-block;
        vertical-align: top;
        position: absolute;
      }
      div:first-child {
        left: 0;
        background-color: red;
        text-align: left;
      }

      img {
        padding-top: 30px;
      }
      div {
        text-align: right;
        right: 0;
      }
    }
    .site-links {
      text-align: left;
      .lg-2, .lg-1 {
        display: inline-block;
        vertical-align: top;
        padding-right: 40px;
      }
    } 
  } /* end footer */
}

@media only screen and (min-width: 1200px) {

  .content-container {
    width: 1110px;
    margin: auto;
  }

  h1 {
    font-size: 4.36rem;
  }

  #humanizing {
    background-image: none;
    padding-top: 105px;
    padding-bottom: 145px;
    div {
      height: 350px;
    } 
   
    #background-left {
      position: absolute;
      height: 510px;
      width: 100%;
      background-image: url(images/bg-pattern-intro-left-desktop.svg);
      background-repeat: no-repeat ;
      background-blend-mode: difference;
      background-size: contain;
      top: 430px;
      z-index: 0;
    }
    #background-right {
      background-image: url(images/bg-pattern-intro-right-desktop.svg);
      top: 0;
      height: 530px;
      background-position-y: -80px;
      z-index: 0;
    }
  } /* end # humanizing */

  #different {
    
    .item-container, .item-container h3 {
      text-align: left;
    }

    div div {
      width: 32%;
    }

    h1 {
      padding-top: 205px;
      text-align: left;
      padding-bottom: 90px;
    }

    h1::before {
      position: relative;
      left: 0;
      transform: none;
      margin-bottom: 60px;
    }

    .item {
      display: inline-block;
      padding-left: 22px;
      p {
        line-height: 1.68em;
      }
    }

    .item:first-child {
      padding-left: 0px;
    }

  } /* end #different */

  #how-we-work {

    div {
      padding-top: 20px;
    }
  } /* end #how-we-work */

  footer {
    padding-left: 0;
    padding-right: 0;
    .site-links {
      .lg-2, .lg-1 {
        padding-right: 50px;
      }
    } 
  } /* end footer */

} /* End media query (min-width: 1440px) */